*, ::before, ::after {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: rgba(0,0,0,0.8);
    background: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: 400;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: white;
    text-decoration: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-wrapper {
    min-height: 100vh;
}

.page-wrapper .page-app {
    position: relative;
    background-color: #f5f5f5;
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
}

.page-header {
position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3em;
    background: #713112;
    color: #ffd7ab;
    z-index: 100;
    font-family: Monaco, Garamond, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 30%);
}

.page-header .page-logo {
    color: #ffd7ab;
    flex: 0 0 auto;
    font-size: 1.5em;
    line-height: 0;
    margin: 0 0.5em 0 0.5em;
}

.page-header .page-user {
    display: -webkit-flex;
    display: flex;
    padding: 0.7em 0.4em;
    margin: 0 0.5em;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 1em;
    border-radius: 1em;
    -webkit-transition: background-color 0.18s ease-out;
    transition: background-color 0.18s ease-out;
    height: 1.6em;
    cursor: pointer;
}
.page-header .page-widgets-list {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    overflow-x: hidden;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

#menu-handler {
    display: none;
}

#menu-handler + .page-menu {
    width: 3.5em;
    -webkit-transition: 0.2s, background-color 0.3s;
    transition: 0.2s, background-color 0.3s;
}

.page-menu {
    position: absolute;
    min-height: 100vh;
    padding: 4.5em 0 2em;
    background: #9a5833;
    overflow-x: hidden;
    height: 100%;
    box-shadow: 0 0 0.03em rgb(0 0 0 / 25%);
    z-index: 99;
    text-align: center;
}

#menu-drawer {
    top: 2em;
    display: -webkit-flex;
    display: flex;
    width: 2em;
    height: 1.5em;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 2em;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    cursor: pointer;
}

#menu-drawer span {
    color: #ffd7ab;
}


.menu-icon {
    color: #ffd7ab;
    font-size: x-large;
    margin-inline: auto;
    cursor: pointer;
}

.title {
    line-height: 2em;
    margin: 0 2em 0 0;
    font-size: 1.125em;
    font-weight: 900;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    color: #ffd7ab;
}

.page-header .page-user .username {
    overflow: hidden;
    font-size: 0.8em;
    margin: 0 0.5em;
    padding-right: 0.5em;
    font-weight: 600;
    color: #ffd7ab;
    max-width: 15em;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.8;
    -webkit-box-shadow: 0.1em 0 0 #713112;
    box-shadow: 0.1em 0 0 #713112;
}

.page-header .page-user .username:hover {
    color: #cd966c;
}

.page-header .page-user .page-logout {
    font-size: 1.25em;
    line-height: 0;
    color: #ffd7ab;
    opacity: 0.8;
}

.page-header .page-logo .logo-img {
    height: 1em;
    color: #ffd7ab;
    z-index: 100;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.3em !important;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.page-header .icon {
    vertical-align: middle;
    opacity: 0.8;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.page-header .icon:hover {
    color: #cd966c;
}